@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.g-root {
    --g-border-radius-xs: 10px;
    --g-border-radius-s: 12px;
    --g-border-radius-m: 14px;
    --g-border-radius-l: 18px;
    --g-border-radius-xl: 22px;

    --g-font-family-monospace: 'Ubuntu Mono', 'Monaco', 'Consolas', 'Liberation Mono', 'Ubuntu Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;
}

.g-root_theme_light {
    --g-color-private-black-950-solid: rgb(12 12 12);
    --g-color-private-black-900-solid: rgb(24 24 24);
    --g-color-private-black-850-solid: rgb(37 37 37);
    --g-color-private-black-800-solid: rgb(49 49 49);
    --g-color-private-black-750-solid: rgb(61 61 61);
    --g-color-private-black-700-solid: rgb(74 74 74);
    --g-color-private-black-650-solid: rgb(86 86 86);
    --g-color-private-black-600-solid: rgb(98 98 98);
    --g-color-private-black-550-solid: rgb(110 110 110);
    --g-color-private-black-500-solid: rgb(123 123 123);
    --g-color-private-black-450-solid: rgb(135 135 135);
    --g-color-private-black-400-solid: rgb(147 147 147);
    --g-color-private-black-350-solid: rgb(159 159 159);
    --g-color-private-black-300-solid: rgb(172 172 172);
    --g-color-private-black-250-solid: rgb(184 184 184);
    --g-color-private-black-200-solid: rgb(196 196 196);
    --g-color-private-black-150-solid: rgb(208 208 208);
    --g-color-private-black-100-solid: rgb(221 221 221);
    --g-color-private-black-50-solid: rgb(233 233 233);
    --g-color-private-black-20-solid: rgb(240 240 240);

    --g-color-private-orange-1000-solid: rgb(63 42 28);
    --g-color-private-orange-950-solid: rgb(74 46 26);
    --g-color-private-orange-900-solid: rgb(97 55 23);
    --g-color-private-orange-850-solid: rgb(119 64 20);
    --g-color-private-orange-800-solid: rgb(142 74 17);
    --g-color-private-orange-750-solid: rgb(165 83 13);
    --g-color-private-orange-700-solid: rgb(187 92 10);
    --g-color-private-orange-650-solid: rgb(210 101 7);
    --g-color-private-orange-600-solid: rgb(232 110 3);
    --g-color-private-orange-500-solid: rgb(254 132 24);
    --g-color-private-orange-450-solid: rgb(253 144 49);
    --g-color-private-orange-400-solid: rgb(252 157 74);
    --g-color-private-orange-350-solid: rgb(251 169 98);
    --g-color-private-orange-300-solid: rgb(250 182 123);
    --g-color-private-orange-250-solid: rgb(249 195 147);
    --g-color-private-orange-200-solid: rgb(248 207 172);
    --g-color-private-orange-150-solid: rgb(247 220 196);
    --g-color-private-orange-100-solid: rgb(247 226 208);
    --g-color-private-orange-50-solid: rgb(246 232 221);

    --g-color-private-green-1000-solid: rgb(32 52 46);
    --g-color-private-green-950-solid: rgb(33 60 50);
    --g-color-private-green-900-solid: rgb(35 75 59);
    --g-color-private-green-850-solid: rgb(37 91 67);
    --g-color-private-green-800-solid: rgb(40 107 76);
    --g-color-private-green-750-solid: rgb(42 123 84);
    --g-color-private-green-700-solid: rgb(44 139 93);
    --g-color-private-green-650-solid: rgb(46 154 101);
    --g-color-private-green-500-solid: rgb(70 192 131);
    --g-color-private-green-450-solid: rgb(89 198 143);
    --g-color-private-green-400-solid: rgb(109 204 156);
    --g-color-private-green-350-solid: rgb(128 210 169);
    --g-color-private-green-300-solid: rgb(148 216 182);
    --g-color-private-green-250-solid: rgb(167 221 194);
    --g-color-private-green-200-solid: rgb(187 227 207);
    --g-color-private-green-150-solid: rgb(206 233 220);
    --g-color-private-green-100-solid: rgb(216 236 226);
    --g-color-private-green-50-solid: rgb(226 239 232);

    --g-color-private-yellow-1000-solid: rgb(63 52 42);
    --g-color-private-yellow-950-solid: rgb(74 60 45);
    --g-color-private-yellow-900-solid: rgb(97 77 51);
    --g-color-private-yellow-850-solid: rgb(119 93 57);
    --g-color-private-yellow-800-solid: rgb(142 109 63);
    --g-color-private-yellow-750-solid: rgb(165 125 68);
    --g-color-private-yellow-700-solid: rgb(187 141 74);
    --g-color-private-yellow-650-solid: rgb(210 158 80);
    --g-color-private-yellow-600-solid: rgb(232 174 86);
    --g-color-private-yellow-500-solid: rgb(254 196 107);
    --g-color-private-yellow-450-solid: rgb(253 201 123);
    --g-color-private-yellow-400-solid: rgb(252 207 138);
    --g-color-private-yellow-350-solid: rgb(251 212 153);
    --g-color-private-yellow-300-solid: rgb(250 218 169);
    --g-color-private-yellow-250-solid: rgb(249 223 184);
    --g-color-private-yellow-200-solid: rgb(248 229 199);
    --g-color-private-yellow-150-solid: rgb(247 234 214);
    --g-color-private-yellow-100-solid: rgb(247 237 222);
    --g-color-private-yellow-50-solid: rgb(246 240 230);

    --g-color-private-red-1000-solid: rgb(63 24 37);
    --g-color-private-red-950-solid: rgb(74 22 39);
    --g-color-private-red-900-solid: rgb(97 20 41);
    --g-color-private-red-850-solid: rgb(119 17 44);
    --g-color-private-red-800-solid: rgb(142 14 47);
    --g-color-private-red-750-solid: rgb(165 11 50);
    --g-color-private-red-700-solid: rgb(187 8 53);
    --g-color-private-red-650-solid: rgb(210 6 55);
    --g-color-private-red-600-solid: rgb(232 3 58);
    --g-color-private-red-500-solid: rgb(254 24 79);
    --g-color-private-red-450-solid: rgb(253 49 98);
    --g-color-private-red-400-solid: rgb(252 74 116);
    --g-color-private-red-350-solid: rgb(251 98 135);
    --g-color-private-red-300-solid: rgb(250 123 153);
    --g-color-private-red-250-solid: rgb(249 147 171);
    --g-color-private-red-200-solid: rgb(248 172 190);
    --g-color-private-red-150-solid: rgb(247 196 208);
    --g-color-private-red-100-solid: rgb(247 208 217);
    --g-color-private-red-50-solid: rgb(246 221 227);

    --g-color-private-blue-1000-solid: rgb(33 46 64);
    --g-color-private-blue-950-solid: rgb(34 53 75);
    --g-color-private-blue-900-solid: rgb(37 65 95);
    --g-color-private-blue-850-solid: rgb(39 77 116);
    --g-color-private-blue-800-solid: rgb(42 90 137);
    --g-color-private-blue-750-solid: rgb(44 102 158);
    --g-color-private-blue-700-solid: rgb(47 114 179);
    --g-color-private-blue-650-solid: rgb(49 126 199);
    --g-color-private-blue-500-solid: rgb(73 160 241);
    --g-color-private-blue-450-solid: rgb(92 170 242);
    --g-color-private-blue-400-solid: rgb(111 179 242);
    --g-color-private-blue-350-solid: rgb(130 189 243);
    --g-color-private-blue-300-solid: rgb(150 198 243);
    --g-color-private-blue-250-solid: rgb(169 207 243);
    --g-color-private-blue-200-solid: rgb(188 217 244);
    --g-color-private-blue-150-solid: rgb(207 226 244);
    --g-color-private-blue-100-solid: rgb(216 231 244);
    --g-color-private-blue-50-solid: rgb(226 236 245);

    --g-color-private-cool-grey-1000-solid: rgb(41 44 51);
    --g-color-private-cool-grey-950-solid: rgb(45 49 57);
    --g-color-private-cool-grey-900-solid: rgb(52 59 69);
    --g-color-private-cool-grey-850-solid: rgb(60 70 81);
    --g-color-private-cool-grey-800-solid: rgb(68 80 93);
    --g-color-private-cool-grey-750-solid: rgb(76 90 105);
    --g-color-private-cool-grey-700-solid: rgb(84 101 117);
    --g-color-private-cool-grey-650-solid: rgb(91 111 129);
    --g-color-private-cool-grey-600-solid: rgb(99 122 141);
    --g-color-private-cool-grey-500-solid: rgb(121 143 162);
    --g-color-private-cool-grey-450-solid: rgb(135 155 171);
    --g-color-private-cool-grey-400-solid: rgb(148 166 181);
    --g-color-private-cool-grey-350-solid: rgb(162 177 190);
    --g-color-private-cool-grey-300-solid: rgb(176 189 199);
    --g-color-private-cool-grey-250-solid: rgb(190 200 208);
    --g-color-private-cool-grey-200-solid: rgb(204 211 217);
    --g-color-private-cool-grey-150-solid: rgb(217 222 227);
    --g-color-private-cool-grey-100-solid: rgb(224 228 231);
    --g-color-private-cool-grey-50-solid: rgb(231 234 236);

    --g-color-private-purple-1000-solid: rgb(46 36 59);
    --g-color-private-purple-950-solid: rgb(52 39 67);
    --g-color-private-purple-900-solid: rgb(63 44 84);
    --g-color-private-purple-850-solid: rgb(75 50 101);
    --g-color-private-purple-800-solid: rgb(86 55 119);
    --g-color-private-purple-750-solid: rgb(97 60 136);
    --g-color-private-purple-700-solid: rgb(109 66 153);
    --g-color-private-purple-650-solid: rgb(120 71 170);
    --g-color-private-purple-500-solid: rgb(153 98 208);
    --g-color-private-purple-450-solid: rgb(163 115 212);
    --g-color-private-purple-400-solid: rgb(174 131 216);
    --g-color-private-purple-350-solid: rgb(184 147 220);
    --g-color-private-purple-300-solid: rgb(194 164 225);
    --g-color-private-purple-250-solid: rgb(204 180 229);
    --g-color-private-purple-200-solid: rgb(214 196 233);
    --g-color-private-purple-150-solid: rgb(225 212 237);
    --g-color-private-purple-100-solid: rgb(230 221 239);
    --g-color-private-purple-50-solid: rgb(235 229 241);

    --g-color-private-brand-50: rgb(60 58 228 / 0.1);
    --g-color-private-brand-100: rgb(60 58 228 / 0.15);
    --g-color-private-brand-150: rgb(60 58 228 / 0.2);
    --g-color-private-brand-200: rgb(60 58 228 / 0.3);
    --g-color-private-brand-250: rgb(60 58 228 / 0.4);
    --g-color-private-brand-300: rgb(60 58 228 / 0.5);
    --g-color-private-brand-350: rgb(60 58 228 / 0.6);
    --g-color-private-brand-400: rgb(60 58 228 / 0.7);
    --g-color-private-brand-450: rgb(60 58 228 / 0.8);
    --g-color-private-brand-500: rgb(60 58 228 / 0.9);
    --g-color-private-brand-550: rgb(60 58 228);
    --g-color-private-brand-550-solid: rgb(60 58 228);
    --g-color-private-brand-1000-solid: rgb(34 33 62);
    --g-color-private-brand-950-solid: rgb(35 34 72);
    --g-color-private-brand-900-solid: rgb(38 37 92);
    --g-color-private-brand-850-solid: rgb(41 40 111);
    --g-color-private-brand-800-solid: rgb(45 43 131);
    --g-color-private-brand-750-solid: rgb(48 46 150);
    --g-color-private-brand-700-solid: rgb(51 49 170);
    --g-color-private-brand-650-solid: rgb(54 52 189);
    --g-color-private-brand-600-solid: rgb(57 55 209);
    --g-color-private-brand-500-solid: rgb(79 77 230);
    --g-color-private-brand-450-solid: rgb(97 95 231);
    --g-color-private-brand-400-solid: rgb(116 114 233);
    --g-color-private-brand-350-solid: rgb(134 133 235);
    --g-color-private-brand-300-solid: rgb(153 152 237);
    --g-color-private-brand-250-solid: rgb(171 170 238);
    --g-color-private-brand-200-solid: rgb(190 189 240);
    --g-color-private-brand-150-solid: rgb(208 208 242);
    --g-color-private-brand-100-solid: rgb(217 217 242);
    --g-color-private-brand-50-solid: rgb(227 226 243);

    --g-color-text-brand: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: var(--g-color-text-light-primary);
    --g-color-text-link: var(--g-color-private-brand-600-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-800-solid);
    --g-color-base-background: #F5F5F5;
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
    --g-color-base-selection: var(--g-color-private-brand-200);
    --g-color-base-selection-hover: var(--g-color-private-brand-300);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}

.g-root_theme_dark {
    --g-color-private-white-900-solid: rgb(232 232 233);
    --g-color-private-white-850-solid: rgb(221 221 222);
    --g-color-private-white-800-solid: rgb(210 210 211);
    --g-color-private-white-750-solid: rgb(199 198 200);
    --g-color-private-white-700-solid: rgb(187 187 188);
    --g-color-private-white-650-solid: rgb(176 176 177);
    --g-color-private-white-600-solid: rgb(165 164 166);
    --g-color-private-white-550-solid: rgb(153 153 155);
    --g-color-private-white-500-solid: rgb(142 142 144);
    --g-color-private-white-450-solid: rgb(131 130 133);
    --g-color-private-white-400-solid: rgb(119 119 122);
    --g-color-private-white-350-solid: rgb(108 107 111);
    --g-color-private-white-300-solid: rgb(97 96 100);
    --g-color-private-white-250-solid: rgb(86 85 89);
    --g-color-private-white-200-solid: rgb(74 73 77);
    --g-color-private-white-150-solid: rgb(63 62 66);
    --g-color-private-white-100-solid: rgb(52 51 55);
    --g-color-private-white-50-solid: rgb(40 39 44);
    --g-color-private-white-70-solid: rgb(45 44 49);
    --g-color-private-white-20-solid: rgb(34 33 37);
    --g-color-private-white-opaque-150: rgb(63 62 66 / 0.95);

    --g-color-private-orange-1000-solid: rgb(238 223 210);
    --g-color-private-orange-950-solid: rgb(236 216 198);
    --g-color-private-orange-900-solid: rgb(232 201 175);
    --g-color-private-orange-850-solid: rgb(227 187 152);
    --g-color-private-orange-800-solid: rgb(223 172 129);
    --g-color-private-orange-750-solid: rgb(218 157 105);
    --g-color-private-orange-700-solid: rgb(214 143 82);
    --g-color-private-orange-650-solid: rgb(209 128 59);
    --g-color-private-orange-600-solid: rgb(205 114 35);
    --g-color-private-orange-450-solid: rgb(166 85 16);
    --g-color-private-orange-400-solid: rgb(149 78 18);
    --g-color-private-orange-350-solid: rgb(132 71 20);
    --g-color-private-orange-300-solid: rgb(115 64 23);
    --g-color-private-orange-250-solid: rgb(97 56 25);
    --g-color-private-orange-200-solid: rgb(80 49 27);
    --g-color-private-orange-150-solid: rgb(63 42 29);
    --g-color-private-orange-100-solid: rgb(55 39 30);
    --g-color-private-orange-50-solid: rgb(46 35 31);

    --g-color-private-green-1000-solid: rgb(220 235 232);
    --g-color-private-green-950-solid: rgb(211 231 227);
    --g-color-private-green-900-solid: rgb(195 224 218);
    --g-color-private-green-850-solid: rgb(178 217 209);
    --g-color-private-green-800-solid: rgb(161 211 200);
    --g-color-private-green-750-solid: rgb(144 204 191);
    --g-color-private-green-700-solid: rgb(127 197 182);
    --g-color-private-green-650-solid: rgb(111 190 173);
    --g-color-private-green-600-solid: rgb(94 183 164);
    --g-color-private-green-500-solid: rgb(72 161 143);
    --g-color-private-green-450-solid: rgb(67 146 131);
    --g-color-private-green-400-solid: rgb(63 132 118);
    --g-color-private-green-350-solid: rgb(58 117 106);
    --g-color-private-green-300-solid: rgb(53 102 94);
    --g-color-private-green-250-solid: rgb(48 87 82);
    --g-color-private-green-200-solid: rgb(43 72 70);
    --g-color-private-green-150-solid: rgb(39 58 57);
    --g-color-private-green-100-solid: rgb(36 50 51);
    --g-color-private-green-50-solid: rgb(34 43 45);

    --g-color-private-yellow-1000-solid: rgb(247 237 222);
    --g-color-private-yellow-950-solid: rgb(247 234 214);
    --g-color-private-yellow-900-solid: rgb(248 229 199);
    --g-color-private-yellow-850-solid: rgb(249 223 184);
    --g-color-private-yellow-800-solid: rgb(250 218 169);
    --g-color-private-yellow-750-solid: rgb(251 212 153);
    --g-color-private-yellow-700-solid: rgb(252 207 138);
    --g-color-private-yellow-650-solid: rgb(253 201 123);
    --g-color-private-yellow-600-solid: rgb(254 196 107);
    --g-color-private-yellow-500-solid: rgb(232 174 86);
    --g-color-private-yellow-450-solid: rgb(210 158 80);
    --g-color-private-yellow-400-solid: rgb(187 141 74);
    --g-color-private-yellow-350-solid: rgb(165 125 68);
    --g-color-private-yellow-300-solid: rgb(142 109 63);
    --g-color-private-yellow-250-solid: rgb(119 93 57);
    --g-color-private-yellow-200-solid: rgb(97 77 51);
    --g-color-private-yellow-150-solid: rgb(74 60 45);
    --g-color-private-yellow-100-solid: rgb(63 52 42);
    --g-color-private-yellow-50-solid: rgb(52 44 39);

    --g-color-private-red-1000-solid: rgb(243 216 222);
    --g-color-private-red-950-solid: rgb(242 206 215);
    --g-color-private-red-900-solid: rgb(240 187 199);
    --g-color-private-red-850-solid: rgb(239 167 184);
    --g-color-private-red-800-solid: rgb(237 148 169);
    --g-color-private-red-750-solid: rgb(235 128 154);
    --g-color-private-red-700-solid: rgb(234 109 139);
    --g-color-private-red-650-solid: rgb(232 89 123);
    --g-color-private-red-600-solid: rgb(231 70 108);
    --g-color-private-red-500-solid: rgb(209 48 87);
    --g-color-private-red-450-solid: rgb(189 46 81);
    --g-color-private-red-400-solid: rgb(169 43 75);
    --g-color-private-red-350-solid: rgb(149 41 69);
    --g-color-private-red-300-solid: rgb(129 39 63);
    --g-color-private-red-250-solid: rgb(109 37 57);
    --g-color-private-red-200-solid: rgb(89 35 51);
    --g-color-private-red-150-solid: rgb(69 32 45);
    --g-color-private-red-100-solid: rgb(59 31 42);
    --g-color-private-red-50-solid: rgb(49 30 39);

    --g-color-private-blue-1000-solid: rgb(216 231 244);
    --g-color-private-blue-950-solid: rgb(207 226 244);
    --g-color-private-blue-900-solid: rgb(188 217 244);
    --g-color-private-blue-850-solid: rgb(169 207 243);
    --g-color-private-blue-800-solid: rgb(150 198 243);
    --g-color-private-blue-750-solid: rgb(130 189 243);
    --g-color-private-blue-700-solid: rgb(111 179 242);
    --g-color-private-blue-650-solid: rgb(92 170 242);
    --g-color-private-blue-600-solid: rgb(73 160 241);
    --g-color-private-blue-450-solid: rgb(49 126 199);
    --g-color-private-blue-400-solid: rgb(47 114 179);
    --g-color-private-blue-350-solid: rgb(44 102 158);
    --g-color-private-blue-300-solid: rgb(42 90 137);
    --g-color-private-blue-250-solid: rgb(39 77 116);
    --g-color-private-blue-200-solid: rgb(37 65 95);
    --g-color-private-blue-150-solid: rgb(34 53 75);
    --g-color-private-blue-100-solid: rgb(33 46 64);
    --g-color-private-blue-50-solid: rgb(32 40 54);

    --g-color-private-cool-grey-1000-solid: rgb(223 227 232);
    --g-color-private-cool-grey-950-solid: rgb(215 222 227);
    --g-color-private-cool-grey-900-solid: rgb(200 210 218);
    --g-color-private-cool-grey-850-solid: rgb(185 198 209);
    --g-color-private-cool-grey-800-solid: rgb(171 187 201);
    --g-color-private-cool-grey-750-solid: rgb(156 175 192);
    --g-color-private-cool-grey-700-solid: rgb(141 163 183);
    --g-color-private-cool-grey-650-solid: rgb(126 151 174);
    --g-color-private-cool-grey-600-solid: rgb(111 140 165);
    --g-color-private-cool-grey-500-solid: rgb(89 118 144);
    --g-color-private-cool-grey-450-solid: rgb(83 108 131);
    --g-color-private-cool-grey-400-solid: rgb(76 98 119);
    --g-color-private-cool-grey-350-solid: rgb(69 88 107);
    --g-color-private-cool-grey-300-solid: rgb(63 78 95);
    --g-color-private-cool-grey-250-solid: rgb(56 68 82);
    --g-color-private-cool-grey-200-solid: rgb(49 58 70);
    --g-color-private-cool-grey-150-solid: rgb(42 48 58);
    --g-color-private-cool-grey-100-solid: rgb(39 43 51);
    --g-color-private-cool-grey-50-solid: rgb(36 38 45);

    --g-color-private-purple-1000-solid: rgb(230 221 239);
    --g-color-private-purple-950-solid: rgb(225 212 237);
    --g-color-private-purple-900-solid: rgb(214 196 233);
    --g-color-private-purple-850-solid: rgb(204 180 229);
    --g-color-private-purple-800-solid: rgb(194 164 225);
    --g-color-private-purple-750-solid: rgb(184 147 220);
    --g-color-private-purple-700-solid: rgb(174 131 216);
    --g-color-private-purple-650-solid: rgb(163 115 212);
    --g-color-private-purple-600-solid: rgb(153 98 208);
    --g-color-private-purple-450-solid: rgb(120 71 170);
    --g-color-private-purple-400-solid: rgb(109 66 153);
    --g-color-private-purple-350-solid: rgb(97 60 136);
    --g-color-private-purple-300-solid: rgb(86 55 119);
    --g-color-private-purple-250-solid: rgb(75 50 101);
    --g-color-private-purple-200-solid: rgb(63 44 84);
    --g-color-private-purple-150-solid: rgb(52 39 67);
    --g-color-private-purple-100-solid: rgb(46 36 59);
    --g-color-private-purple-50-solid: rgb(40 33 50);

    --g-color-private-brand-50: rgb(60 58 228 / 0.1);
    --g-color-private-brand-100: rgb(60 58 228 / 0.15);
    --g-color-private-brand-150: rgb(60 58 228 / 0.2);
    --g-color-private-brand-200: rgb(60 58 228 / 0.3);
    --g-color-private-brand-250: rgb(60 58 228 / 0.4);
    --g-color-private-brand-300: rgb(60 58 228 / 0.5);
    --g-color-private-brand-350: rgb(60 58 228 / 0.6);
    --g-color-private-brand-400: rgb(60 58 228 / 0.7);
    --g-color-private-brand-450: rgb(60 58 228 / 0.8);
    --g-color-private-brand-500: rgb(60 58 228 / 0.9);
    --g-color-private-brand-550: rgb(60 58 228);
    --g-color-private-brand-550-solid: rgb(60 58 228);
    --g-color-private-brand-1000-solid: rgb(217 217 242);
    --g-color-private-brand-950-solid: rgb(208 208 242);
    --g-color-private-brand-900-solid: rgb(190 189 240);
    --g-color-private-brand-850-solid: rgb(171 170 238);
    --g-color-private-brand-800-solid: rgb(153 152 237);
    --g-color-private-brand-750-solid: rgb(134 133 235);
    --g-color-private-brand-700-solid: rgb(116 114 233);
    --g-color-private-brand-650-solid: rgb(97 95 231);
    --g-color-private-brand-600-solid: rgb(79 77 230);
    --g-color-private-brand-500-solid: rgb(57 55 209);
    --g-color-private-brand-450-solid: rgb(54 52 189);
    --g-color-private-brand-400-solid: rgb(51 49 170);
    --g-color-private-brand-350-solid: rgb(48 46 150);
    --g-color-private-brand-300-solid: rgb(45 43 131);
    --g-color-private-brand-250-solid: rgb(41 40 111);
    --g-color-private-brand-200-solid: rgb(38 37 92);
    --g-color-private-brand-150-solid: rgb(35 34 72);
    --g-color-private-brand-100-solid: rgb(34 33 62);
    --g-color-private-brand-50-solid: rgb(32 31 53);

    --g-color-text-brand: var(--g-color-private-brand-600-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-link: var(--g-color-private-brand-550-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);
    --g-color-base-background: #1D1C21;
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
    --g-color-base-selection: var(--g-color-private-brand-150);
    --g-color-base-selection-hover: var(--g-color-private-brand-200);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}